div {
    display: block;
}

.Header-shadow {
    text-shadow: 0px 0px 10px #fff;
}

.Other-shadow {
    text-shadow: 0px 0px 3px #000;
}

.my-text-muted{color:#000!important}

.my-underline{border-bottom: 1px solid #a2a9b1}

.doll-label{
    padding-top : 15px;
}

.doll-detail{
    width: 80%;
    transition: all 0.5s;
    display:inline-block;
    overflow: hidden;
    padding: 16px;
}
  
.doll-detail:hover {
    width: 100%;
}
  
.my-btn{transition: all .5s;float: right;}

.my-btn:hover{
    width: 100%;
}

.logo {
    width : 30%;
    padding: 0px;
    margin: 0px;
}

.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
}

.mechanic-img{
    width: 80%;
}

.img-sw {width: 80%;transition: all .5s;}

.img-sw:hover{width: 125%;position: relative;}

.four-st-cl{
    color: #D6E35A;
    text-shadow: 0px 0px 3px #D6E35A;
    display: inline-block;
}

.five-st-cl{
    color: #FFCD4A;
    text-shadow: 0px 0px 3px #FFBD0D;
    display: inline-block;
}

.pme{
    border-radius: 100%;
    width: 30%;
}

.ct-icon{
    width: 30%;
}

.f-black{
    color: #000;
}

.f-wh{
    color: #fff;
}